:root {
  --color-black: #000;
  --color-white: #fff;
  --color-sky-blue: #c7e4f2;
  --color-light-periwinkle: #9ac8e5;
  --color-tranquil-blue: #6fa6d0;
  --color-deep-ocean-blue: #33659a;
}
.PersonalInfoModal .btn-upload {
  background-color: var(--color-deep-ocean-blue);
  border: none;
  color: white;
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.PersonalInfoModal .btn-upload:hover {
  background-color: var(--color-sky-blue);
  color: var(--color-deep-ocean-blue);
  border-color: var(--color-deep-ocean-blue);
}

.PersonalInfoModal .d-flex.align-items-center {
  gap: 10px;
}

.PersonalInfoModal .submit-btn {
  background-color: var(--color-deep-ocean-blue);
  border-color: var(--color-deep-ocean-blue);
}
.PersonalInfoModal .submit-btn:hover {
  background-color: var(--color-sky-blue);
  color: var(--color-deep-ocean-blue);
  border-color: var(--color-deep-ocean-blue);
}

.PersonalInfoModal img {
  border-radius: 50%;
  object-fit: cover;
  width: 80px;
  height: 80px;
}

.PersonalInfoModal .mb-3:hover {
  transform: none !important;
}
