.icon-button {
  background: none;
  border: none;
  color: white;
  font-size: 35px;
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-button__tooltip {
  position: static;
  margin-top: 5px;
  background: none;
  color: var(--color-deep-ocean-blue);
  font-size: 12px;
  text-align: center;
}

.icon-button {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  color: inherit;
}

.sidebar__item.active .icon-button__tooltip {
  color: var(--color-deep-ocean-blue);
}

.sidebar__item.active .icon-button {
  color: var(--color-deep-ocean-blue);
}
