.icon-button {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-button__tooltip {
  position: static;
  margin-top: 5px;
  background: none;
  color: white;
  font-size: 14px;
  text-align: center;
  transition: color 0.3s ease;
}

.icon-button {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  color: inherit;
}

.sidebar__item.active .icon-button__tooltip {
  color: #0dcaf0;
}

.sidebar__item.active .icon-button {
  color: #0dcaf0;
}
