.navbar-container {
  width: 100%;
  height: 10%;
  display: flex;
  position: fixed;
  left: 90px;
  right: 0;
  top: 0;
  background-color: #303030;
  color: white;
}

.content-name,
.user-options {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-name {
  flex: 0.75;
}

.user-options {
  flex: 0.25;
}
