.container-user-option {
  position: fixed;
  top: 10px;
  right: 60px;
  z-index: 1000;
  transition: right 0.3s ease;
}

.user-option__btn {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 11px 10px 11px;
  width: 90px;
  border-radius: 10px;
  background-color: #0dcaf0;
  border: none;
  color: white;
  cursor: pointer;
  transition: background-position 0.8s ease-out, transform 0.2s;
}

.user-option__authenticaion {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  gap: 10px;
  padding: 10px 11px;
  width: 90px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s;
  background: white !important;
  color: #4c7273 !important;
  border: 2px solid #4c7273 !important;
}

.user-option__authenticaion:hover {
  background: #4c7273 !important;
  color: white !important;
  transform: scale(1.05);
}

.user-option__btn:hover {
  background-position: 100% 50%;
  transform: scale(1.05);
}

.export-form-container {
  position: absolute;
  top: 50px;
  right: 250px;
}

.user-option__header--left {
  width: 20%;
}

.user-option__header--right {
  width: 60%;
}
