.main-content {
    height: 100%;
    width: 100%;
}

.main-content__video-section {
    display: flex;
    justify-content: center;
    height: 70%;
    margin-top: 0px;
}

.main-content__edit-section {
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    left: 110px;
  
}

.main-content__time-stamp {
    width: 100%;
    
}