.custom-offcanvas {
  width: 360px !important;
}
.input-time {
  max-width: 110px;
}
.space-edit {
  max-height: 540px;
  background-color: #eff3f5;
}
.custom-offcanvas .btn-close {
  filter: brightness(0);
  opacity: 1;
}

.custom-button-delete {
  border: 1px solid black;
  border-radius: 4px;
  color: white;
}
.custom-button-add {
  border: 1px solid black;
  border-radius: 4px;
  color: white;
}

.custom-button-delete:hover {
  border-color: red;
  color: red !important;
}
.border-black {
  border-color: black;
}
.custom-button-add:hover {
  border-color: #00ff00;
  color: #00ff00 !important;
}

.button-reload {
  width: 140px;
  height: 40px;
  margin-left: 10px;
  color: #0dcaf0 !important;
  border-color: rgb(255, 255, 255) !important;
  background-color: white; /* Màu nền của nút /
  transition: box-shadow 0.3s ease, transform 0.3s ease; / Thêm hiệu ứng chuyển động khi hover */
  border-radius: 6px;
}

.button-save {
  margin-left: 20px !important;

  width: 140px;
  height: 40px;
  color: white !important;
  border: none !important;
  border-radius: 6px;
  background-color: #0dcaf0 !important;
  transition: transform 0.3s ease !important;
}

.button-save:hover {
  transform: scale(1.05) !important;
}
.button-reload:hover {
  background-color: white !important;
  border-color: #0dcaf0 !important;
}

.body {
  background-color: #eff3f5;
}
