.container-slider .MuiSlider-root {
    color: rgb(255, 255, 255);
    width: 50%; 
    height: 4px;
  }
  
  .container-slider .MuiSlider-thumb {
    width: 12px;  
    height: 12px; 
    background-color: rgb(255, 255, 255);  
  }
  .container-slider .MuiSlider-valueLabel {
    font-size: 10px;  
    padding: 1px 3px;  
    border-radius: 2px; 
    text-align: center;
  }
  
  .container-slider .MuiSlider-valueLabelCircle {
    width: 16px;  
    height: 16px;
    font-size: 12px;  
  }

  .effect-label{
    font-size: 0.7rem;
    opacity: 0.6;
    text-align: center;
    color: #ccc;
  }

.group-name, .duration_lable{
  font-size: 0.8rem;
}