.sidebar-container {
  display: flex;
  height: 100%;
  position: fixed;
  left: 0;
  z-index: 100000;
  top: 0;
  transition: width 0.3s ease-in-out;
}

.sidebar__item {
  display: flex;
  justify-content: center;
  margin: 20px;
  transition: 0.3s ease;
  padding: 3px;
  height: 80px;
  align-items: center;
  color: var(--color-deep-ocean-blue);
  /* border-radius: 10px; */
}

.sidebar__item:hover {
  background: var(--color-light-periwinkle);
  box-shadow: 0 2px 5px var(--color-black);
  transform: scale(1.05);
}

.app-container {
  display: flex;
  transition: margin-left 0.3s ease-in-out;
}

.main-content {
  flex-grow: 1;
  transition: margin-left 0.3s ease-in-out;
}

.main-content.expanded {
  margin-left: 110px;
}

.sidebar-custom {
  width: 90px;
  transition: width 0.3s ease-in-out;
  background-color: var(--color-light-periwinkle);
  box-shadow: 1px 0px 15px var(--color-deep-ocean-blue);
}

.sidebar-custom.collapsed {
  width: 50px;
}

/* .sidebar {
  width: 113px;
  background-color: rgb(183, 138, 138);
  color: rgb(162, 71, 71);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: width 0.3s ease-in-out;
  overflow: hidden;
  padding-top: 10px;
} */

/* .sidebar__toggle {
  position: absolute;
  right: -15px;
  top: 50%;
  background: black;
  border: 2px solid white;
  color: white;
  font-size: 18px;
  cursor: pointer;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease-in-out;
} */

.toggle-icon {
  transition: transform 0.3s ease-in-out;
}

.rotate {
  transform: rotate(180deg);
}

.sidebar__logo {
  width: 50px;
  margin-bottom: 110px;
}

.sidebar__features {
  width: 250px;
  background-color: #1a1a1a;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.feature-item {
  background: #333;
  padding: 12px;
  height: 17%;
  border-radius: 5px;
  text-align: center;
  margin: 5px 0;
  cursor: pointer;
  color: white;
  transition: background 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature-item:hover {
  background: #444;
}

.hover-effect:hover {
  background-color: #1f1f1f !important;
  transition: background-color 0.3s ease;
}
