.custom-border-bottom {
  border-bottom: 1px solid var(--color-deep-ocean-blue) !important;
  background-color: var(--color-sky-blue);
}
.canvas-body {
  background-color: transparent;
}
.option-btn {
  background-color: var(--color-sky-white);
  color: var(--color-deep-ocean-blue);
  border-radius: 8px;
  border: none;
  padding: 10px 15px;
  font-size: 16px !important;
  transition: all 0.3s ease;
  cursor: pointer;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}
.option-btn:hover {
  background-color: var(--color-button-hover-background); /* đổi nền nhạt hơn */
  transform: scale(1.05); /* phóng to nhẹ */
  box-shadow: 0 4px 12px rgba(0, 0, 0, var(--color-black)); /* bóng đổ */
  cursor: pointer;
}
.custom-close-btn {
  position: absolute;
  right: 5px;
  top: 5px;
  background: transparent;
  border: none;
  font-size: 24px;
  color: var(--color-white) !important;
  cursor: pointer;
}

.custom-close-btn:hover {
  color: var(--color-deep-ocean-blue) !important;
}

.offcanvas-title {
  color: var(--color-deep-ocean-blue);
}

.custom-border-bottom {
  border-bottom: 1px solid #17a2b8;
  padding: 30px !important;
}
.canvas-body {
  background-color: var(--color-sky-blue);
  overflow-y: scroll;
}

.button-upload {
  background-color: var(--color-deep-ocean-blue);
  color: var(--color-white);
  border-radius: 5px;
  border: none;
  height: 40px;
  font-size: 20px !important;
  transition: all 0.3s ease;
}
.button-upload:hover {
  background-color: var(--color-tranquil-blue); /* đổi nền nhạt hơn */
  transform: scale(1.05); /* phóng to nhẹ */
  box-shadow: 0 4px 12px rgba(0, 0, 0, var(--color-black)); /* bóng đổ */
  cursor: pointer;
}

.mb-3 {
  transition: all 0.3s ease;
}
.mb-3:hover {
  transform: scale(1.05); /* phóng to nhẹ */
  box-shadow: 0 4px 12px rgba(0, 0, 0, var(--color-black)); /* bóng đổ */
}

.offcanvas-body::-webkit-scrollbar {
  display: none;
}

.offcanvas-body {
  scrollbar-width: none;
}
