.player-config {
  .timeline-player {
    color: var(--color-deep-ocean-blue);
    .rate-control .ant-select {
      .ant-select-selector {
        background-color: transparent;
        color: var(--color-deep-ocean-blue);
      }
      .ant-select-arrow {
        color: var(--color-deep-ocean-blue);
      }
    }
  }
}
.timeline-editor {
  background-color: var(--color-sky-blue) !important;
  font-size: 13px !important;
  border-top: 1px solid var(--color-black);
  .ReactVirtualized__Grid__innerScrollContainer {
    background-color: var(--color-sky-blue);
    .timeline-editor-time-unit {
      color: var(--color-black) !important;
      width: 20px !important;
      border-right: 2px solid var(--color-black);
    }
    .timeline-editor-edit-row {
      background-color: var(--color-sky-blue);
      background-size: 0px !important;
    }
    .timeline-editor-time-unit-scale{
      color: var(--color-black);
    }
  }
  .timeline-editor-cursor {
    border-left: 1px solid var(--color-black);
    border-right: 1px solid var(--color-black);
    path {
      fill: var(--color-black);
    }
  }
}
.timeline-editor-action-left-stretch {
  background-color: var(--color-deep-ocean-blue) !important
  ;
}
.timeline-editor-action-right-stretch {
  background-color: var(--color-deep-ocean-blue) !important;
}